<!DOCTYPE html>
<html>
  <head>

    
    <title>Foodfy - Nova receita</title>
    
    {% block header %}
      <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="/css/admin.css">
    {% endblock %}
  </head>

  <body>
    <header>
        <a href="/" id="foodfyy">Foodfy</a>
        <a href="/" id="sair">Sair</a>
    </header>

    <form class="card-recipe" method="POST" action="/admin/recipes" enctype="multipart/form-data">
      <section class="details"> 

        <div class="item">
          <div>Imagens da receita</div>
          <div class="grid">
            <div id="photo-space">
              <div id="photos-upload">
                <i class="material-icons">add</i>
                <input type="file" name="photos" id="photos-input" multiple accept="image/*" 
                onchange="PhotosUpload.handleFileInput(event)">
              </div>
            </div>
            <div id="photos-preview"></div>
          </div>
        </div>

        <div class="item">
          <div>Nome da receita</div>
          <div>
            <input type="text" name="title" placeholder="Informe o nome">
          </div>
        </div>

        <div class="item">
          <div>Ingredientes</div>
          <div id="ingredients">
            <div id="ingredientes" class="ingrediente-container">
              <input type="text" class="ingrediente-input" name="ingredients" placeholder="Ingrediente">            
            </div>
          </div>
          

          <button type="button" class="add-ingredient">Adicionar</button>
          {# <button type="button" class="send-ingredient">Enviar</button> #}

        </div>

        <div class="item">
          <div>Modo de preparo</div>
          <div id="prepare-mode" class="prepare-container">
            <input type="text" class="prepare-input" name="preparation" value="{{ dessert.preparation }}" placeholder="Instrução">
          </div>

          <button type="button" class="add-instro">Adicionar instrução</button>
        </div>

        <div class="item">
          <div>Informações adicionais (Opcional)</div>
          <div>
            <textarea type="text" name="information" value="{{ dessert.information }}" placeholder="Informações adicionais"></textarea>
          </div>
        </div>

        <div class="item">
          <div>Autor(a) da receita</div>
          <div>
            <select name="chef">
              {% for chef in chefOptions %}
              <option value="{{ chef.id }}">
              {{ chef.name }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <button type="submit" id="save">Salvar receita</button>
      </section>
    </form>

  <script src="/scripts.js"></script>
  </body>


</html>