<!DOCTYPE html>
<html>
  <head>

    
    <title>Foodfy - Nova receita</title>
    

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="/css/admin.css">
  </head>

  <body>
    <header>
        <a href="/" id="foodfyy">Foodfy</a>
        <a href="/" id="sair">Sair</a>
    </header>

    <form class="card-recipe" method="POST" action="/admin/recipes?_method=PUT" enctype="multipart/form-data">
      <section class="details"> 

        <div class="item">
          <div>Imagens da receita</div>
          <div class="grid">
            <div id="photo-space">
              <div id="photos-upload">
                <i class="material-icons">add</i>
                <input type="file" name="photos" id="photos-input" multiple accept="image/*" 
                onchange="PhotosUpload.handleFileInput(event)">
              </div>
            </div>
            <div id="photos-preview">
              {% if files %}
                {% for image in files %}
                  <div class="photo" id={{image.id}}>
                    <img src="{{image.src}}">
                    <i class="material-icons" onclick="PhotosUpload.removeOldPhoto(event)">close</i>
                  </div>
                {% endfor %}
                <input type="hidden" name="removed_files">
              {% endif %}
            </div>
          </div>
        </div>

        <div class="item">
          <div>Nome da receita</div>
          <div>
            <input type="text" name="title"value="{{ dessert.title }}" placeholder="Informe o nome">
          </div>
        </div>

        <div class="item">
          <div>Ingredientes</div>
          <div id="ingredients">
            <div id="ingredientes" class="ingrediente-container">
                {% for item in dessert.ingredients %}
                <input type="text" class="ingrediente-input" name="ingredients" value="{{ item }}" placeholder="Ingrediente">
                {% endfor %}            
            </div>
          </div>

          <button type="button" class="add-ingredient">Adicionar</button>

        </div>

        <div class="item">
          <div>Modo de preparo</div>
          <div id="prepare-mode" class="prepare-container">
            {% for item in dessert.preparation %}
            <input type="text" class="prepare-input" name="preparation" value="{{ item }}" placeholder="Instrução">
            {% endfor %}
          </div>

          <button type="button" class="add-instro">Adicionar instrução</button>
        </div>

        <div class="item">
          <div>Informações adicionais (Opcional)</div>
          <div>
            <textarea type="text" name="information" value="" placeholder="Informações adicionais">{{ dessert.information }}</textarea>
          </div>
        </div>

        <div class="item">
          <div>Autor(a) da receita</div>
          <div>
            <select name="chef">
              {% for chef in chefOptions %}
              <option value="{{ chef.id }}" 
              {% if chef.id == dessert.chef_id %} selected {% endif %}>
              {{ chef.name }}
              </option>
              {% endfor %}
            </select>
          </div>
        </div>

        <button type="submit" class="add-ingredient" id="add-recipe">Salvar receita</button>

        {# <form id="formulario-delete" method="POST" action="/admin/recipes?_method=DELETE">
          <button type="submit" id="del-ingredient">Deletar receita</button>
          <input type="hidden" name="id" value="{{ dessert.id }}">
        </form> #}

      <input type="hidden" name="id" value="{{ dessert.id }}">
    </form>

    <form id="formulario-delete" method="POST" action="/admin/recipes?_method=DELETE">
      <button type="submit" id="del-ingredient-recipe">Deletar receita</button>
      <input type="hidden" name="id" value="{{ dessert.id }}">
    </form>

  </section>

  <script src="/scripts.js"></script>
  </body>


</html>