{% extends "layout.njk" %}

{% block head %}

    <title>Foodfy - Receitas</title>

{% endblock %}


  {% block content %}
    <div class="menu-home mode" id="search">
        <a href="/" id="foodfy">Foodfy</a>
        <a href="/about" id="sobre">Sobre</a>
        <a href="/menu" id="receitas">Receitas</a>
        <a href="/admin/chefs" id="menu-chefs">Chefs</a>
        <form action="/menu" method="GET">
          <input type="text" name="filter" placeholder="Filtrar receita">
          <button type="submit">Filtrar</button>
        </form>
      </div>
  {% block header %}

  {% endblock %}

    <section id="revenue">

      {% for food in foods %}
      <div class="food-revenue" id="{{ food.id }}">
        <div class="food-revenue-image">
          <img src="{{ food.image }}" alt="Imagem {{ food.name }}">
        </div>

        <div class="food-revenue-content">
          <p class="food-revenue-name" id="{{ food.name }}">{{ food.title }}</p>
          <p class="food-revenue-chef">{{ food.chef }}</p>
        </div>
      </div>
      {% endfor %}

    </section>

    <footer class="footer">
      <p id="copyright">Todos os direitos reservados, receitas Foodfy</p>
    </footer>

    <script src="/script.js"></script>

{% endblock %}