{% extends "layout.njk" %}

{% block head %}

    <title>Foodfy - Admin Chefs</title>
    <link rel="stylesheet" href="/css/foodesign.css">

{% endblock %}


{% block content %}
    <div id="gerenciar">
        <h3>Chefs cadastrados</h3>
        <a href="/admin/chefs/create">Cadastrar chef</a>
    </div>

    <section class="index-chef">

      {% for chef in chefs %}
        <div class="index-item-chef">
            <img src="{{ chef.avatar_url }}" alt="">
            <div class="coluna">
                <h2>{{ chef.name }}</h2>
                <a href="/admin/chefs/{{ chef.id }}">{{chef.total_receipts}} receitas</a>
            </div>
        </div>
      {% endfor %}

    </section>

    <script src="/script.js"></script>

{% endblock %}