{% extends "layout.njk" %}

{% block head %}

    <title>Foodfy - Admin {{ chef.name }}</title>
    <link rel="stylesheet" href="/css/foodesign.css">

{% endblock %}


{% block content %}
    
  <div class="header">
    <h2>Chef: {{chef.name}}</h2>
    <a href="/admin/chefs/{{chef.id}}/edit">Editar Chef</a>
  </div>

  <div class="chef-body">
    <img src="{{chef.avatar_url}}" alt="Foto do chef">
    <h1>{{chef.name}}</h1>
    <p>{{chef.total}} receitas</p>
  </div>

  <h1 class="receipts">Receitas</h1>

  <section class="chef-receipts">
      {% for dessert in chef.receipts %}
        <div class="index-item">
            <img src="{{ dessert.image }}" alt="">
            <div>
                <h2>{{ dessert.title }}</h2>
                <p>{{ dessert.author }}</p>
                <a href="/admin/recipes/{{ dessert.id }}">Visualizar</a>
            </div>
        </div>
      {% endfor %}
  </section>


    <script src="/script.js"></script>

{% endblock %}