<!DOCTYPE html>
<html>
  <head>

    {% block head %}
    <title>Foodfy</title>
    {% endblock %}

    <link href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/foodesign.css">
    <link rel="stylesheet" href="/css/modal.css">
    <link rel="stylesheet" href="/css/recipe.css">
  </head>

  <body>
    {% block header %}
      <div class="menu-home mode">
        <a href="/" id="foodfy">Foodfy</a>
        <a href="/about" id="sobre">Sobre</a>
        <a href="/menu" id="receitas">Receitas</a>
        <a href="/admin/chefs" id="menu-chefs">Chefs</a>
      </div>
    {% endblock %}

    {% block content %}{% endblock %}


    {# <footer class="footer">
      <p id="copyright">Todos os direitos reservados, receitas Foodfy</p>
    </footer> #}

    {% block footer %}{% endblock %}
      
  </body>


</html>